<div class="box">
    <div id="card-container">
      <div id="card">
        <div class="front face">
          <img src="https://p.kindpng.com/picc/s/57-574930_pikachu-pokmon-mystery-dungeon-pikachu-png-transparent-png.png"/>
        </div>
        <div class="back face">
          <h1>Beatriz Marténez Pérez</h1>
          <p class="artist">ID: 190343</p>
        </div>
      </div>
    </div>
    <div id="card-container">
      <div id="card2">
        <div class="front face">
          <img class="img2" src="https://www.pngmart.com/files/13/Charmander-PNG-Background-Image.png"/>
        </div>
        <div class="back face">
          <h1>Ana Lucia Guzmán De Loera</h1>
          <p class="artist">ID: 190756</p>
        </div>
      </div>
    </div>
  </div>