@import 'variables';

nav.nav{
    padding: 1rem 0.75rem;
    background-color: $main_color;
    margin-bottom: 0.75rem;
    .brand{
        color: $white;
        font-weight: 600;
        line-height: 1.75rem;
        font-size: 1.50rem;
    }
}
