@import 'variables';

.search{
    margin-top: 1.5rem;
    &_input{
        border-bottom: 2px solid rgba(156,163,175,0.44);
        font-size: 1.3rem;
        padding: 0.75rem;
        width: 100%;
        border-radius: 10px;

        &:focus{
            outline: none;
        }
    }
}
